.img{
    width: 4rem;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
  }
.tu{
   
    justify-items: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto; 
}